:root {
    --main-color1:rgb(204, 92, 0);
    --main-color2:rgb(6, 1, 87);

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: var(--main-color2);
    color: white;
    text-align: center;
    padding: 0.5em 0;
    font-family: 'Dancing Script', cursive;
    font-size: 1em; /* Aggiornato per aumentare la dimensione del titolo */
}

main {
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

a button {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--main-color2);
    color: white;
    border: none;
    cursor: pointer;
}

a button:hover {
    background-color: var(--main-color1);
}

.dropdown {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    background-color: var(--main-color2);
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza del viewport */
}

#teamTable {
    width: 80%; /* Larghezza desiderata della tabella */
    /* Altri stili desiderati per la tabella */
}

#teamTable th, #teamTable td {
    padding: 8px; /* Padding per le celle */
    text-align: center; /* Testo centrato nelle celle */
}
.bold-row {
    font-weight: bold;
}
/* Stile per la tabella */
.table-container-player-rankings {
    width: 65%;
    margin: auto;
}

#playerTable {
    
    border-collapse: collapse; /* Combina i bordi delle celle */
}

#playerTable th, #playerTable td {
    padding: 5px; /* Aggiunge spazio interno (padding) a tutte le celle */
    text-align: center; /* Centra il testo nelle celle */
}

.table-container-team-rankings {
    width: 90%;
    margin: auto;
}

#teamTable {
    
    border-collapse: collapse; /* Combina i bordi delle celle */
}

#teamTable th, #teamTable td {
    padding: 5px; /* Aggiunge spazio interno (padding) a tutte le celle */
    text-align: center; /* Centra il testo nelle celle */
}
.team-name {
    font-size: 1.2em; /* Dimensione del testo maggiore per il nome del team */
}

.player-info {
    font-size: 0.8em; /* Dimensione del testo minore per le informazioni sui giocatori */
}

.bold {
    font-weight: bold; /* Mantieni questa regola se vuoi che il tot_team sia in grassetto */
}

/* Celle della tabella */
#teamTable th, #teamTable td {
    padding: 8px; /* Aggiunge spazio interno alle celle */
    text-align: left; /* Allinea il testo a sinistra */
    font-size: 1em; /* Imposta una dimensione del testo di base */
}

/* Intestazioni della tabella */
#teamTable th {
    background-color: #f2f2f2; /* Aggiunge uno sfondo alle intestazioni */
}

/* Stili specifici per mobile */
@media screen and (max-width: 768px) {
    /* Dimensioni del testo */
    #teamTable th, #teamTable td {
        font-size: 0.8em; /* Riduce la dimensione del testo per schermi piccoli */
        text-align: center; 
    }

    /* Dimensioni del testo per team name */
    .team-name {
        font-size: 1em; /* Aumenta leggermente la dimensione del testo per il nome del team */
    }

    /* Dimensioni del testo per player info */
    .player-info {
        font-size: 0.7em; /* Riduce leggermente la dimensione del testo per le informazioni sui giocatori */
    }
}