:root {
    --main-color1:rgb(204, 92, 0);
    --main-color2:rgb(6, 1, 87);

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: var(--main-color2);
    color: white;
    text-align: center;
    padding: 0.5em 0;
    font-family: 'Dancing Script', cursive;
    font-size: 1em; /* Aggiornato per aumentare la dimensione del titolo */
}

main {
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

a button {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--main-color2);
    color: white;
    border: none;
    cursor: pointer;
}

a button:hover {
    background-color: var(--main-color1);
}

.dropdown {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer {
    background-color: var(--main-color2);
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza del viewport */
}

#teamTable {
    width: 80%; /* Larghezza desiderata della tabella */
    /* Altri stili desiderati per la tabella */
}

#teamTable th, #teamTable td {
    padding: 8px; /* Padding per le celle */
    text-align: center; /* Testo centrato nelle celle */
}
.bold-row {
    font-weight: bold;
}
/* Stile per la tabella */
.table-container-player-rankings {
    margin: auto;
}